<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ModuloServlet</servlet-name>
        <servlet-class>servlet.ModuloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoServlet</servlet-name>
        <servlet-class>servlet.VideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVideoServlet</servlet-name>
        <servlet-class>servlet.UserVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminVideoStatsServlet</servlet-name>
        <servlet-class>servlet.AdminVideoStatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Spid</servlet-name>
        <servlet-class>servlet.Spid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorsoServlet</servlet-name>
        <servlet-class>servlet.CorsoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCorsoServlet</servlet-name>
        <servlet-class>servlet.UserCorsoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModuloServlet</servlet-name>
        <url-pattern>/ModuloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoServlet</servlet-name>
        <url-pattern>/VideoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVideoServlet</servlet-name>
        <url-pattern>/UserVideoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminVideoStatsServlet</servlet-name>
        <url-pattern>/AdminVideoStatsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Spid</servlet-name>
        <url-pattern>/Spid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorsoServlet</servlet-name>
        <url-pattern>/CorsoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCorsoServlet</servlet-name>
        <url-pattern>/UserCorsoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
